@tailwind base;
@tailwind components;
@tailwind utilities;

/* Example: Tailwind CSS configuration for dark mode */
/* Tailwind CSS configuration for dark mode */
.dark {
    --bg-color: #1a202c; /* Dark background color */
    --text-color: #e2e8f0; /* Light text color */
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
/* Hide number input spinners */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield; /* Firefox */
}

/* styles.css or your main CSS file */
.h-next {
    height: calc(100vh - 180px);
}